{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/audio-touch/audio-touch.css" />
<script type="text/javascript" src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" type="text/css" href = 'static/css/main.css'>
 </br> </br> </br> </br>
<div class = 'centered'>
 <h1 class = 'greet'>Добро пожаловать в систему!</h1>


</div>
{% endblock %}