<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class = 'login_form' method="post">
    <input type="text" class="form-control" id="name" placeholder="Введите имя" name="name"></br>
    <input type="text" class="form-control" id="name2" placeholder="Введите фамилию" name="name2"></br>
    <input type="text" class="form-control" id="name3" placeholder="Введите отчество" name="name3"></br>
    <button type="submit" class="btn btn-primary">Удалить</button>
</form>
</body>
</html>